/*

  FLIPTOP GOLD VERSE

*/




.card:not(.masked)[data-rarity="fliptop gold verse"][data-supertype="pokémon"] .card__shine,
.card:not(.masked)[data-rarity="fliptop gold verse"][data-supertype="pokémon"] .card__shine:after,
.card:not(.masked)[data-rarity="fliptop gold verse"] .card__shine,
.card:not(.masked)[data-rarity="fliptop gold verse"] .card__shine:after {

  --mask: none;
  --foil: url("/img/goldverse.png"); 
  --imgsize: 60% 30%;

}

/*

  SHINE LAYERS

*/

.card[data-rarity="fliptop gold verse"] .card__shine {

  --space: 6%;
  --angle: 133deg;
  --imgsize: cover;

  background-image:
    var(--foil),
    repeating-linear-gradient( -33deg, 
        hsla(2, 70%, 47%, 0) calc(var(--space)*1),  
        hsla(228, 60%, 64%, 0) calc(var(--space)*2), 
        hsla(176, 55%, 39%, 0) calc(var(--space)*3), 
        hsla(123, 68%, 35%, 0) calc(var(--space)*4), 
        hsla(283, 75%, 57%, 0) calc(var(--space)*5), 
        hsla(2, 70%, 47%, 0) calc(var(--space)*6)
    ),
    repeating-linear-gradient( 
      var(--angle), 
      hsla(45, 85%, 25%, 0.3) 0%, 
      hsl(48, 90%, 65%) 2.5%, 
      hsl(50, 95%, 70%) 5%, 
      hsl(48, 90%, 65%) 7.5%, 
      hsla(45, 85%, 25%, 0.3) 10% , 
      hsla(45, 85%, 25%, 0.3) 15% 
      ),
    radial-gradient(
      farthest-corner circle 
      at var(--pointer-x) var(--pointer-y),
      hsla(48, 95%, 80%, 0.4) 0%, 
      hsla(45, 90%, 75%, 0.4) 25%, 
      hsla(50, 85%, 70%, 0.4) 50%, 
      hsla(52, 88%, 78%, 0.4) 75%
    );

  background-blend-mode: multiply, overlay, soft-light;
  background-size: var(--imgsize), 1100% 1100%, 600% 600%, 200% 200%;
  background-position: 
    center, 
    var(--background-x) var(--background-y), 
    var(--background-x) var(--background-y), 
    var(--background-x) var(--background-y);

  filter: brightness(calc((var(--pointer-from-center) * .4) + .4)) contrast(1.8) saturate(1.5);

}


.card[data-rarity="fliptop gold verse"] .card__shine:after {

  content: "";

  background-image: repeating-linear-gradient( 0deg, 
    hsl(48, 98%, 54%) calc(var(--space)*1),  
    hsl(48, 98%, 54%) calc(var(--space)*2), 
    hsl(48, 98%, 54%) calc(var(--space)*3), 
    hsl(48, 98%, 54%) calc(var(--space)*4), 
    hsl(48, 98%, 54%) calc(var(--space)*5), 
    hsl(48, 98%, 54%) calc(var(--space)*6)
    
  ),
  repeating-linear-gradient( 
    var(--angle), 
    #0e152e 0%, 
    hsl(180, 10%, 60%) 3.8%, 
    hsl(180, 29%, 66%) 4.5%, 
    hsl(180, 10%, 60%) 5.2%, 
    #0e152e 10% , 
    #0e152e 12% 
  );

  background-blend-mode: hue, hard-light;
  background-size: 200% 700%, 300% 100%, 200% 100%;
  background-position: 0% var(--background-y), var(--background-x) var(--background-y), var(--background-x) var(--background-y);

  mix-blend-mode: lighten;
  opacity: calc( (0.3 * var(--card-opacity)) + var(--card-opacity) * var(--pointer-from-center) * 0.5 );
  filter: saturate(1.5);

}









/*

  GLARE LAYERS

*/

.card[data-rarity="fliptop gold verse"] .card__glare {

  mix-blend-mode: hard-light;
  filter: brightness(1) contrast(1);

  background-image: 
    radial-gradient( 
      farthest-corner circle at 
      var(--pointer-x) var(--pointer-y), 
      hsla(0, 0%, 100%, 0.75) 0%, 
      hsl(0, 0%, 0%) 120% 
    );

    opacity: calc( (0.2 * var(--card-opacity)) + var(--card-opacity) * var(--pointer-from-center) * 0.8 );

}












/*

  NO MASK

*/



.card:not(.masked) [data-rarity="fliptop gold verse"] .card__shine {

  filter: brightness(calc((var(--pointer-from-center) * .4) + .4)) contrast(2) saturate(1);

}


